*{
    margin: 0px;
    padding: 0px;
}
.navbar{
height: 60px;
}
.navbar > ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 18px;
}
ul > li{
    display: inline-block;
    padding-right: 19px;
}
li > a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
li >a:hover{
    text-decoration: underline;
}
.img{
    height: 92px;
    display: flex;
    justify-content: center;
}
.forms{
    height: 140px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.field{
    display: flex;
    justify-content: space-evenly;
    height: 46px;
    border: 1px solid #dfe1e5;
    width: 584px;
    border-radius: 24px;
}
.field:hover{
    box-shadow: 1px 1px 8px 2px #dfe1e5;
}
.field > input{
    border: none;
    outline: none;
    width: 483px; 
    display: flex;
}
.field > #img1{
    padding-top: 14px;
    height: 17px;
    width: 17px;
}
.field > #img2{
    padding-top: 10px;
    height: 24px;
    width: 24px;
}
.sub{
    display: flex;
    justify-content:center;
    padding-top: 30px;
}
.sub > input{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 36px;
    width: 127px;
    margin-right: 6px;
}
.sub > a{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    height: 26px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 6px;
}
.sub1:hover{
    border: 1px solid #dfe1e5;
}
.offer{
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px - 92px - 165px - 95px);
}
.offer > p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color:#4d5156 ;
    font-size: 13px;
}
.offer > a{
    text-decoration: none;
    color: #1a0dab;
    padding: 0px 5px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.a1:hover{
    text-decoration: underline;
}
.end > p{
    color: #70757a;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
}
.end1{
    display: flex;
    justify-content:space-between;
    background-color:#f2f2f2 ;
}
.end1 > ul{
    color:#70757a ;
    background-color:#f2f2f2 ;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
 }
 #ul1{
    padding-left: 40px;
 }
